<div class="row text-center">
  <div class="col-12">
    <h1>Đơn đặt nhà của bạn</h1>
  </div>
</div>
<div class="" *ngFor="let order of orders;">
  <div class="row m-3 room">
    <div class="m-5">
      <div class="row">
        <div class="col-6">
          <h1>Người đặt: {{order.personName}}</h1>
        </div>
        <div class="col-6">
        </div>
        <div class="col-6">
          Tên nhà: {{order.house.name}}
        </div>
        <div class="col-6">
          Địa chỉ nhà: {{order.house.address}}
        </div>
        <div class="col-6">
          Số điện thoại người thuê: {{order.telephoneNumber}}
        </div>
        <div class="col-6">
          Số điện thoại chủ nhà: 0359813619
        </div>
        <div class="col-6">
          Tổng tiền:  {{order.totalPrice}}$
        </div>
        <div class="col-6">
          Ngày đặt: {{order.bookingDate.substring(0, 10)| date : 'dd/MM/yyyy'}}
        </div>
        <div class="col-6">
          Từ ngày: {{order.startDate.substring(0, 10)| date : 'dd/MM/yyyy'}}
          đến: {{order.endDate.substring(0, 10)| date : 'dd/MM/yyyy'}}
        </div>
      </div>
    </div>
  </div>
</div>
