<div class="row ml-5 name-house">
  <p>Home > {{room.nameHouse}} > {{room.nameRoom}}</p>
</div>
<div class="row ml-5 mr-5 mb-1 detail">
  <div class="col-md-6">
    <img width="100%" src="{{room.imageUrls}}" class=" mb-1">
  </div>
  <div class="col-md-6">
    <div class="order-in-detail">
      <div class="m-3">
        <b><h2>{{room.nameRoom}}</h2></b>
        <p><b>{{room.priceRoom}}$</b>/đêm</p>
        <p>Chủ nhà: {{room.nameHost}}</p>
        <p>Mô tả: {{room.description}} </p>
        <p>Đánh giá: {{avgCurrentRatings}} </p>
      </div>
      <a class="btn btn-danger m-3" [routerLink]="['/user/room/edit-room', room.id]">
        Sửa Phòng
      </a>
      <a class="btn btn-info m-3" [routerLink]="['/user/room', room.id, 'list-Order']">
        DS Đặt Phòng
      </a>
    </div>
  </div>
</div>
<div class="row ml-5 mr-5 mb-1">
  <div class="col-md-6">
    <div class="room m-1">
      <p class="m-1 text-center">Bình luận</p>
      <hr>
      <div class="m-1">
        <div *ngFor="let comment of comments| paginate: { itemsPerPage: 6, currentPage: p }">
          <div class="row m-1">
            <div class="col-1">
              <img class="mt-2" src="{{comment.imageUrls}}" alt="img cmt" width="37px" height="37px"
                   style="border-radius: 50%">
            </div>
            <div class="col-5 comment ml-2">
              <p class="mt-2"><b>{{comment.username}}</b>: <i>{{comment.comment}}</i></p>
            </div>

            <hr>
          </div>
        </div>
        <div class="text-center">
          <pagination-controls *ngIf="comments.length >=6" (pageChange)="p = $event" class="my-pagination"
                               previousLabel="Trước" nextLabel="Sau"
                               style="font-size: 10px !important;"></pagination-controls>
          <hr>
        </div>
        <form [formGroup]="commentForm" (ngSubmit)="addComment()" class="form-group m-3 row">
          <div class="col-md-1">
            <img class="" src="{{currentUser.imageUrls}}" alt="img cmt" width="37px" height="37px"
                 style="border-radius: 50%">
          </div>
          <div class="form-group col-md-11">
            <input type="textarea" class="form-control" formControlName="comment" placeholder="Input your comment..."
                   style="border-radius: 30px;">
          </div>
          <input type="submit" class="btn btn-secondary mb-1" value="Bình luận" hidden>
        </form>
      </div>
    </div>
  </div>
</div>

