.order-in-detail {
  border: 1px solid rgba(108, 108, 108, 0.6);
  border-radius: 5px;
  font-size: 14px;
}

.name-house {
  margin-top: 50px;
  font-size: 20px !important;
}

.detail {
  font-size: 20px;
}

.thumbnail {
  position: relative;
  text-align: center;
  border: 1px solid rgba(108, 108, 108, 0.6);
  border-radius: 5px;
}

img {
  transition: transform .8s;
}

.house :hover img {
  transform: scale(1.1) !important;
  border-radius: 10px;
}

.house :hover .productName a {
}

.booked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(242, 255, 243);
}

.imageProduct {
  border-radius: 5px;
}

.room {
  border: 1px solid rgba(108, 108, 108, 0.6);
  border-radius: 5px;
}

.comment {
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0px 0px 8px 0.1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 8px 0.1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px 0.1px rgba(0, 0, 0, 0.15);
}

.star {
  font-size: 1.2rem;
  color: #b0c4de;
}

.filled {
  color: #ff9a1e;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #d04747;
}
