<div class="row ml-5 name-house">
  <p>Home > {{house.name}}</p>
</div>
<div class="row ml-5 mr-5 detail">
  <div class="col-md-6 m-3">
    <div class="row">
      <img width="100%" src="{{house.price}}" class="mb-1">
    </div>
    <div class="row">
      <div *ngFor="let image of houseImages" class="col-lg-3 col-md-4 col-sm-4 col-6 p-0 images">
          <img src="{{image.url}}" class="p-1" width="100%" height="100px">
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="info-house mt-3">
      <div class="m-3">
        <b><h2>{{house.name}}</h2></b>
        <p>Chủ nhà: {{house.account}}</p>
        <p>Địa chỉ: {{house.address}}</p>
        <p>Số lượng phòng tắm: {{house.roomNumber}}</p>
        <p>Mô tả: {{house.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="m-1 ml-3">
        <a class="btn btn-info" [routerLink]="['/user/room', house.id, 'createOrder']">
          Thuê nhà
        </a>
      </div>
      <div class="m-1">
        <a class="btn btn-danger" [routerLink]="['/user/house/edit-house', house.idHouse]">
          Sửa thông tin
        </a>
      </div>
    </div>
  </div>
</div>
