<div class="row ml-5 name-house">
  <p>Home > {{house.name}}</p>
</div>
<div class="row ml-5 mr-5 detail">
  <div class="col-md-6 m-3">
    <div class="row">
      <img width="100%" src="{{house.imageUrls}}" class="mb-1">
    </div>
  </div>
  <div class="col-md-5">
    <div class="info-house mt-3">
      <div class="m-3">
        <b><h2>{{house.name}}</h2></b>
        <p>Chủ nhà: {{house.account}}</p>
        <p>Địa chỉ: {{house.address}}</p>
        <p>Số lượng phòng tắm: {{house.roomNumber}}</p>
        <p>Mô tả: {{house.description}}</p>
        <p>Các dịch vụ có sẵn(<i>Miễn phí</i> ): </p>
        <ul>
          <li *ngFor="let utility of house.utilities">{{utility.name}}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="m-1 ml-3">
        <a class="btn btn-info" [routerLink]="['/user/room', house.idHouse, 'createOrder']">
          Thuê nhà
        </a>
      </div>
      <div class="m-1">
        <a class="btn btn-danger" [routerLink]="['/user/house/edit-house', house.idHouse]">
          Sửa thông tin
        </a>
      </div>
    </div>
  </div>
</div>
